*.csv
*.xls
*.xlsx
*.tsv

*.parquet
*.DS_Store

*.venv

Lib
Include
Scripts
__pycache__

jupitervenv
jupiter.json
__pycache__

/notebooks/06120018
/06120018

/notebooks/read_data.ipynb

*/Datasets

*.zip
notebooks/.DS_Store
notebooks/.DS_Store

pyvenv.cfg

